@import "variables"

.identify
  padding: $padding_section
  background-color: $background_y

  .container
    justify-content: space-around
    flex-wrap: wrap

  .container_text
    max-width: 515px

    p
      margin: 20px 20px 0 0

  img
    margin: auto