@import "variables"
.services
  padding: $padding_section
  background: $background_x

  .container
    justify-content: space-around
    flex-wrap: wrap

  img
    margin: auto

  .container_text
    max-width: 555px
    p
      margin: 20px 20px 0 0






