@import "variables"
@import "fonts"
@import "header"
@import "hero"
@import "services"
@import "indentify"




.container
  margin: 0 auto
  max-width: 950px
  width: 100%
  height: 100%
  display: flex

